.h1_link_style {
    color: green;
    border: 1px solid black;
}

.p_link_style {
    color: red;
    background: #EFE7D6;
    border: 1px solid black;
}

section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
}